<!DOCTYPE html>
{% load static %}
{% load table %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Portfolio Optimization</title>
  <!-- Bootstrap core CSS-->
  <link href={% static 'bootstrap/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href={% static 'bootstrap/vendor/font-awesome/css/font-awesome.min.css' %} rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href={% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.css' %} rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href={% static 'bootstrap/css/sb-admin.css' %} rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="https://michaeltrazzi.wixsite.com/cryptoptimisation">Cryptofolio</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="dashboard.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Optimize">
          <a class="nav-link" href="optimize.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Optimize</span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" href="/accounts/login/">
          <i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </nav>
    <!-- /.container-fluid-->
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->

        <form>
          Initial Investment (BTC): <input type="text"><br>
          <h3>Risk</h3>
          <select id="risk" size="3">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>

        <h3>Algorithm</h3>
        <a class="btn btn-primary" href="#" id="Markowitz">Markowitz</a>
        <a class="btn btn-primary" href="#" id="Neural Network">Neural Network</a>
        </form>
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Made by Michaël Trazzi and Julien Denes</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/accounts/login">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src={% static 'bootstrap/jquery/jquery.min.js' %}></script>
    <script src={% static 'bootstrap/js/bootstrap.bundle.min.js' %}></script>
    <!-- Core plugin JavaScript-->
    <script src={% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}></script>
    <!-- Page level plugin JavaScript-->
    <script src={% static 'bootstrap/vendor/chart.js/Chart.min.js' %}></script>
    <script src={% static 'bootstrap/vendor/datatables/jquery.dataTables.js' %}></script>
    <script src={% static 'vendor/datatables/dataTables.bootstrap4.js' %}></script>
    <!-- Custom scripts for all pages-->
    <script src={% static 'bootstrap/js/sb-admin.min.js' %}></script>
    <!-- Custom scripts for this page-->
    <script src={% static 'bootstrap/js/sb-admin-datatables.min.js' %}></script>
    <script src={% static 'bootstrap/js/sb-admin-charts.min.js' %}></script>
  </div>
</div>
</body>

</html>
