<!DOCTYPE html>
{% load static %}
{% load table %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  {{style}}
  </style>
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <div class="text-center">
              <button class="btn btn-primary" href="/optimizer/login/" type="submit">Register</a>
            </div>
        </form>
          <div class="text-center">
          <a class="d-block small mt-3" href="/accounts/login/">Login Page</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src={% static 'bootstrap/vendor/jquery/jquery.min.js' %}></script>
  <script src={% static 'bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
  <!-- Core plugin JavaScript-->
  <script src={% static 'bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}></script>
  <!-- Page level plugin JavaScript-->
  <script src={% static 'bootstrap/vendor/chart.js/Chart.min.js' %}></script>
  <script src={% static 'bootstrap/vendor/datatables/jquery.dataTables.js' %}></script>
  <script src={% static 'bootstrap/vendor/datatables/dataTables.bootstrap4.js' %}></script>
  <!-- Custom scripts for all pages-->
  <script src={% static 'bootstrap/js/sb-admin.min.js' %}></script>
  <!-- Custom scripts for this page-->
  <script src={% static 'bootstrap/js/sb-admin-datatables.min.js' %}></script>
  <script src={% static 'bootstrap/js/sb-admin-charts.min.js' %}></script>
</body>

</html>
